<!doctype html>
<html lang="en" data-framework="emberjs">
	<head>
		<meta charset="utf-8">
		<title>ember.js • TestApp</title>
        <style>
            .form-deposit { }
            .form-deposit label {display: block;  margin: 20px 5px ; }

            .selected {font-weight: bold;}
            .navbar {display: block; clear: both;}
            .navbar li {float: left; list-style: none; padding: 5px 10px;}
        </style>
	</head>
	<body>

		<script type="text/x-handlebars" id="components/buttons-amount-selector">
			<label>
				Amount: <br />
				{{input value=amount}}		 
				<br/>
				{{#each predefeinedAmount in predefinedAmounts}}
					<button {{action "setAmount" predefeinedAmount}}>{{predefeinedAmount}}</button>
				{{/each}}
			</label>
		</script>
	
		<script type="text/x-handlebars" id="components/slider-amount-selector">
			<label>
				Amount: <br />
                {{input type="range" value=amount min=0}} {{currencyCode}} {{amount}} 
			</label>
		</script>

		<script type="text/x-handlebars" id="application" >
            <ul class="navbar">
                <li>
                    {{#link-to "deposit" activeClass="selected"}}Deposit Page{{/link-to}}
                </li>
                <li>
                    {{#link-to "withdraw" activeClass="selected"}}Withdraw Page{{/link-to}}
                </li>
            </ul>

            <div style="clear: both;">
                {{outlet}}
            </div>
        </script>

		<script type="text/x-handlebars" id="deposit">
            <div style="float: left; width: 200px;">
                {{partial "deposit/index"}}
            </div>

            <div style="float: left;">
                {{outlet}}
            </div>
		</script>

		<script type="text/x-handlebars" data-template-name="deposit/index">
            <ul>
                <li>
                    {{#link-to "deposit.visa" activeClass="selected"}}Visa{{/link-to}}
                </li>
                <li>
                    {{#link-to "deposit.ecmc" activeClass="selected"}}Master Card{{/link-to}}
                </li>
                <li>
                    {{#link-to "deposit.maestro" activeClass="selected"}}Maestro{{/link-to}}
                </li>
            </ul>
		</script>

		<script type="text/x-handlebars" data-template-name="deposit/method">
            <h3>{{title}}</h3>
            <form class="form-deposit">
                <div>
                    <label>
                        Card Number: <br />
                        <input type="text" name="cardNumber" required />
                    </label>
                </div>
                <div>
                    <label>
                        Expiration Month: <br />
                        {{input type="month" name="expirationDate" value=expirationDate}}
                    </label>
                </div>

                {{amount-selector amount=amount currenyCode=currenyCode}}

                <div>
                    <button>Pay!</button>
                </div>
            </form>
        </script>

		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/handlebars/handlebars.js"></script>
		<script src="bower_components/ember/ember.js"></script>
		<script src="bower_components/ember-data/ember-data.js"></script>
		<script src="bower_components/ember-localstorage-adapter/localstorage_adapter.js"></script>		

		<script src="js/app.js"></script>
		<script src="js/router.js"></script>
		<script src="js/models/deposit.js"></script>
		<script src="js/models/depositCard.js"></script>

		<script src="js/components/buttonsAmountSelector.js"></script>
		<script src="js/components/sliderAmountSelector.js"></script>
	</body>
</html>

